table {
    border-collapse: collapse; 
    width:80%
}
thead th {
    text-align: left;
    background-color: #33333330; 
    padding: 5px;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    border: 1px solid #ccc; 
} 
td a {
    text-decoration: none;
    color: #6f5cdb;
    font-weight: bold;
} 